<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <script src="~/Scripts/semantic.js"></script>
    <link href="~/Content/wunderlist.css" rel="stylesheet" />
</head>
<body>

    <div class="ui secondary menu">
        <a class="item">
            <div class="logo"></div>  
            <b style="margin-left: 5px;">Wunderlist</b>    
        </a>
        <a class="item">Pro</a>
        <a class="item">Бизнес</a>
        <a class="item">Скачать</a>
        <a class="item">Поддержка</a>
        <a class="item">Блог</a>


        <div class="right menu">
            <div class="item">
                <button class="ui right floated grey basic button">Вход</button>
            </div>
            <div class="item">
                <button class="ui right floated blue button">Создать бесплатную учетную запись</button>
            </div>
        </div>
    </div>
<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
